.main{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_box{
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.heading{
opacity: 0.7;
}