.main_head {
    opacity: 0.8;
}

.education p {
    padding: 1px 0px;
    font-size: 14px;
    opacity: 0.9;

}

/* .data {
    opacity: 0.7;
} */

.add {
    z-index: 4;
    /* top: 100px; */
}

.add button {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    color: #007fbc;
    background-color: white;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    font-size: 16px;
}

.btn_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn_box div {
    display: flex;
    padding-right: 8px;
}

.btn_box div div {
    margin-left: 20px;
    font-weight: 700;
    opacity: 0.7;
    font-size: 19px;
}

.btn_box div div:hover {
    color: #007fbc;
    cursor: pointer;
    opacity: 1;

}

a {

    text-decoration: none;
    color: #007fbc;

}

.outer {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}