.education_op {
    position: relative;
    width: 500px;
    /* height: 500px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 20px;
    padding-top: 30px;

}
.ed_box{
    position: relative;
}

.error_div {
    color: red;
    position: absolute;
    font-size: 12px;
    bottom: -18px;
    left: 2px;
    /* font-family: 'Courier New', Courier, monospace; */
    opacity: 0.9;
}

.ed_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.ed_box1,
.ed_box2,
.ed_box5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ed_box6 {
    grid-column-start: 2;
    /* border: 1px solid red; */

}

.password_eye{
    position: absolute;
    top:4.8vh;
    right: 15px;
    cursor: pointer;
    color: #007fbc;
}

.btn {
    width: 100px;
    font-size: 16px;
    padding: 8px 10px;
    margin-left: 100px;
    font-size: 17px;
    background-color: rgba(0, 128, 188, 0.719);
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 600;


}

.btn:hover {
    transform: translate3D(0, -1px, 0) scale(1.1);
    background-color: #007fbc;
    color: white;

    transition: all 0.3s ease-in-out;

}

.close_icon {
    position: absolute;
    top: 3vh;
    right: 2vw;
    cursor: pointer;
}